/* Cell padding */

#wie-import-results td {
  padding: 2px 30px 2px 0;
}

/* Sidebar name */

.wie-import-results-sidebar-name {
  font-weight: bold;
}

/* Widget instance title */

.wie-import-results-widget-title {
  font-style: italic;
}

/* Message (sidebar and widget) */

.wie-import-results-sidebar .wie-import-results-message {
  font-weight: bold;
}

.wie-import-results-message-success {
  color: #1c8a1f;
}

.wie-import-results-message-warning {
  color: #eb860f;
}

.wie-import-results-message-error {
  color: #cc2626;
}

/* Empty row after each sidebar/widget set */

.wie-import-results-space {
  height: 8px;
}

/* Project support box */

.wie-box {
  position: relative;
  padding: 20px 24px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
}

#wie-project {
  max-width: 520px;
  margin: 20px 0 30px 0;
}

  #wie-project-logo {
    position: relative;
    top: -1px;
    right: -1px;
    margin-left: 20px;
    margin-bottom: 15px;
    float: right;
  }

  #wie-project p {
    margin-top: 0;
    margin-bottom: 18px;
  }

  #wie-project ul {
    margin-bottom: 0;
  }

    #wie-host-line a {
      font-weight: bold;
    }

/* Help */

#wie-help {
  font-style: italic;
}

/* Notices */

#wie-notice-message {
  display: inline-block;
  width: calc( 100% - 125px );
}

  #wie-notice-message a {
    white-space: nowrap;
  }

#wie-notice-remind {
  display: inline-block;
  float: right;
}

@media only screen and (max-width: 400px) {

  #wie-notice-message {
    width: auto;
    padding-right: 4px;
  }

  #wie-notice-remind {
    float: none;
  }

}